@mixin mobile {
  @media screen and (max-width: 767px) { @content; }
}

html, body {
  height: 100%;
  font-family: 'Bitter', serif;
  overflow: hidden;
  @include mobile {
    height: auto;
    overflow: auto;
  }
}

a {
  color: #1863A1;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: #0181eb;
  }
}

.full-bleed {
  height: 100%;
  position: relative;
  @include mobile {
    height: 75%;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  padding: 1em 1em 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 98;
  @include mobile {
    position: relative;
    display: block;
  }
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
  flex-shrink: 0;
}

.description {
  margin: 0 0 0 1em;
  font-size: 0.875em;
  @include mobile {
    margin: 1em 0;
  }
}

.color-potus {
  color: #FDBF6F;
}

.color-obamacare {
  color: #CAB2D6;
}

