html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Bitter', serif;
}

a {
  color: #1863A1;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: #0181eb;
  }
}

.full-bleed {
  height: 100%;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
  flex-shrink: 0;
}

.description {
  margin: 0 0 0 1em;
  font-size: 0.875em;
}

.color-potus {
  color: #FDBF6F;
}

.color-obamacare {
  color: #CAB2D6;
}
