$main: #333;
$light: #BBB;

.layer {
  transition: opacity 0.1s ease-in-out;
}

.tick-text {
  text-anchor: middle;
  fill: $light;
}

.tick-line {
  stroke: lighten($light, 5%);
}

.overlay {
  transition: transform 0.1s;
  pointer-events: none;
}

.overlay-title {
  font-weight: bold;
}

.overlay-date {
  text-anchor: middle;
}

.overlay-title,
.overlay-date, .overlay-text {
  fill: $main;
}

.overlay-line {
  stroke: #9C9CC9;
  stroke-width: 2;
}
