$main: #333;
$light: #BBB;

@mixin mobile {
  @media screen and (max-width: 767px) { @content; }
}

.layer {
  transition: opacity 0.1s ease-in-out;
}

@include mobile {
  .tick:nth-child(even) { display: none; }
}

.tick-text {
  text-anchor: middle;
  fill: $light;
}

.tick-line {
  stroke: lighten($light, 5%);
}

.overlay {
  transition: transform 0.1s;
  pointer-events: none;
}

.overlay-title {
  font-weight: bold;
}

.overlay-date {
  text-anchor: middle;
}

.overlay-title,
.overlay-date, .overlay-text {
  fill: $main;
}

.overlay-line {
  stroke: #9C9CC9;
  stroke-width: 2;
}

.legend {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 99;
  @include mobile {
    position: static;
    top: 0;
    left: 0;
  }
}

.legend-label,
.legend-item {
  cursor: default;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 0 1em;
}
